header {

	background: #2ECC71  ;
	color: #fff;
	font-family: "Homer Simpson", cursive

}

.disp{
	display: inline-flex;

}
.btn-primary{
	background-color: #ffffff;
	color: #000000;
}

body{

	background-color: #ffffff;
	font-family: "Palatino", sans-serif;
	background: url(http://todofondos.com/bin/fondos/07/74/47d.jpg)
	
}
table {
	margin-top: 5%;
    font-family: "Homer Simpson", cursive;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5%;
}

td, th {
    border: 1px solid #03882D;
    text-align: left;
    padding: 8px;
}

th {
    background-color:#00e676;
    border: 1px solid #03882D;
    font-weight: bold;
}		

.titles{
	text-align: center;
}
.main{
	background: white;
	 border: 1px solid #03882D;
}

.color1 {
	border: 1px solid #03882D;
	background: #2ECC71;
	color: #000000;
}

.color2 {

	background: #ffffff;
	color: #000000;
}

.color3 {
	color: white;
}


.crop{
	float:left;
	overflow:hidden; /* IMPORTANTE */
}

.crop .image-profile{
	height: 280px;
	width: 100%;
	border-radius: 50%;
	margin-left: 0%;
}
aside{
	background: #2ECC71;
	border: 1px solid #03882D;
	color: #000000  ;
}

footer {
	background: #16a085
	color: #fff;
}