
.img{
    width: 250px;  
    margin-top: 40px;
    margin-left: 1%;
    margin-right: -5%;
    height: 110px;
	border-radius: 10%;
    
    
}


div{
    margin-top: 3%;
}

.class{
    margin-left: 100%;
    height: 50px;
    width: 50px;
}

li{
    float: left;
    list-style: none;
    padding: 18px;
}

nav{
    float: right;
    margin-top: 60px;
    margin-right: 15%;
    
}

a{
    text-decoration: none;
    font: 120% sans-serif;
    color: white;
    
}

li:hover a{
    color: black;
}


header{
    width: 100%;
    overflow: hidden;
    background-color: rgb(3,7,171);
    margin-bottom: 20px;
}

header nav {
    float: right;
    line-height: 80px;
    
}


header nav a{
    display: inline-block;
    color: #ffff00;
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:;
    -o-transition:;
    transition:all 500ms ease;
    
    
}

header nav a:hover{
    background-color:yellow;
    border-radius: 50px;
}

.centrar{
    text-align: center;
    
}

.img2{
    margin-left: 10%;
}

